.container {
    color: rgb(149, 126, 148);
    margin: 20px 40px 20px 40px;
}

.formular {
    border: 1px solid rgb(149, 126, 148);
    color: #2c2c2c;
    padding: 15px;
    max-width: 320px;
}



.formularGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: left;
    align-items: center;
    min-height: 15px;
    max-width: 320px;
}

.registeredUsers {
    font-size: 15pt;
    color: #960000;
    margin-top: 20px;
}

.usersList {
    color: #410c0c;
    font-weight: bolder;
    font-size: 10pt;
    margin-top: 10px;
}

.noUser {
    font-size: 10pt;
    color: #414141;
}